#wrapper {
	width: 800px;
	margin: 50px auto;
	background: rgba(0,0,0,0);
}

.zenbox {
	padding: 20px 20px 20px 20px;
	width: auto;
	height: 100%;
	margin-left: auto;	
	margin-right: auto;	
	outline: 0px solid transparent;
}

#zb1 { 
	background-color: #000;
}

#zb2 { 
	background-color: #000;
}

#zb3 {
	background-color: #000;
}

#zb4 {
	background-color: #000;
}

.zenbox::-moz-selection {
	background: #ffb7b7;
}
.zenbox::selection {
	background: #ffb7b7;
}

.zenbox:hover {
	outline: 0px solid transparent;
}

.configToggle {
	position: fixed;
	width: 30px;
	height: 30px;
	padding-left: 9px;
	padding-top: 5px;
	color: #ccc;
	background: rgba(0,0,0,0);
	right: 20px;
	top: 20px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.configToggle:hover {
	background: #eee;
}

#config {
	position: fixed;
	right: 20px;
	top: 20px;
	width: 250px;
	height: 450px;
	background: #fff;
	border: 1px solid #eee;
	padding: 15px 20px 20px 20px;
	display: none;
	border-radius: 10px;
}

#configOption {
	vertical-align: middle;
}

#footer {
	position: fixed;
	left: 5px;
	bottom: 25px;
	height: 25px;
	width: 100%;
	color: #999;
	padding: 20px 30px 20px 30px;
}

.glyphicon:hover {
	color: #000;
	cursor: arrow;
}

.arrow-right {
	position: relative;
	top: 5px;	
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #eee;
}

.arrow-left {
	position: relative;
	top: 5px;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #eee;
}
